.vista[name="about"] main {
  padding: 15px; }
.vista[name="about"] .logo {
  display: flex;
  align-items: center; }
.vista[name="about"] img {
  width: 80px;
  height: 80px; }
.vista[name="about"] p {
  font-weight: 300; }
.vista[name="about"] a {
  color: #387ef5;
  border-radius: 4px;
  font-weight: 300;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
.vista[name="about"] a:active, .vista[name="about"] a:hover {
  background: #f5f5f5 !important;
  color: black;
  padding: 2px 6px; }

/*# sourceMappingURL=about.css.map */
