@import '../../../scss/variables.scss';

.vista[name="about"]{
	main{
		padding: 15px;
	}
	.logo{
		display: flex;
    	align-items: center;	
	}
	img {
	    width: 80px;
	    height: 80px;
	}
	p{
		font-weight: 300;
	}
	a{
		color: #387ef5;
		border-radius: 4px;
		font-weight: 300;
    	transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
	}
	a:active, a:hover {
	    background: #f5f5f5 !important;
	    color: rgb(0, 0, 0);
	    padding: 2px 6px;
	}
}