@import '../../../scss/variables.scss';

.vista[name="plan"]{
	overflow-y: hidden;
	main{
		width: 100%;
		height: 100%;
		overflow-y: auto;
	}
	.courses-container {
		.course {
			&::after {
			    content: '';
			    width: 10px;
			    height: 10px;
			    position: absolute;
			    right: 15px;
			    top: 15px;
			    border-radius: 100%;
			}
			&.studying::after{
			    background-color: $azul;
			}
			&.studied::after{
				background-color: $verde;
			}
			span{
				display: block;
			}
		}
	}
	.component header{
		.img{
	    	width: 20px;
		    height: 20px;
		    transform: translateY(-2px);
		    background-position: center;
			background-size: contain;
			margin-right: 8px;
	    }
	}
	.fixed-action-btn{
		.btn-floating{
			background-color: $naranja !important;
			position: relative;
			svg{
				width: 30px;
			    height: 30px;
			    fill: $negro;
			    stroke: $naranja;
			    position: absolute;
			    top: 12px;
			    left: 12px;
				transform: scale(0.7) rotateZ(-180deg);
				opacity: 0;
    			transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
			}
			&.selection-active{
				.plus-icon{
					opacity: 1;
					transform: scale(1) rotateZ(0deg);
				}
			}
			&.done{
				.check-icon{
					opacity: 1;
					transform: scale(1) rotateZ(0deg);
				}
			}
		}
		.clickleable{
			width: 56px;
    		height: 56px;
    		position: absolute;
    		z-index: 99;
    		opacity: 0;
    		display: inline-block;
		    top: 0px;
		    overflow: hidden;
		    line-height: 40px;
		    padding: 0;
		    border-radius: 50%;
		    cursor: pointer;
		    vertical-align: middle;
		    outline: 0;
		    text-decoration: none;
		    -webkit-tap-highlight-color: transparent;
		}
		
		ul{
			transition: opacity 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
			opacity: 0;
			li{
				display: flex;
				align-items: center;
				justify-content: center;
				&.cancelar{
					max-width: 120px;
					min-width: 120px;
					width: 120px;
				}
			}
			svg{
				width: 25px;
			    height: 25px;
			    margin-top: -2px;
			    margin-left: 6px;
			    stroke: salmon;
			}
		}
		&.active{
			.clickleable{
				top: 100%;
			}
			.btn-floating{
				svg{
					opacity: 0 !important;
				}
			}
			ul{
				opacity: 1;
			}
		}
	}
	.tap-target-wrapper{
		.tap-target{
			background-color: rgba(234, 234, 234, 0.98);
		}
		.tap-target-wave::before, .tap-target-wave::after{
			background-color: rgba(247, 148, 135, 0.36);
		}
	}
}