@import '../../../scss/variables.scss';
.vista[name="enrollment"]{
    overflow-y: hidden;
    .event {
        display: inline-block;
        padding: 1px 6px;
        border-radius: 2px;
        margin-right: 4px;
        font-size: 12px;
        height: 22px;
        overflow-y: hidden;
        background-color: rgba(201, 182, 157, 0.19);
        text-transform: capitalize;
        &.night, &.morning{
            background-color: $negro;
            color: white;
            &::after {
                content: '';
                display: inline-block;
                margin-bottom: -8px;
                transform: translateY(-1px) translateX(3px);
                width: 22px;
                height: 22px;
                background-image: url(../../../img/moon.svg);
            }
            &.morning{
                background-color: rgba(201, 182, 157, 0.19);
                color: black;
                &::after{
                    transform: translateY(-6px) translateX(6px);
                    width: 20px;
                    height: 13px;
                    background-image: url(../../../img/sleep.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
    }
    .total{
        display: block;
        margin: 15px;
        font-weight: 300;
    }
    #semester{
        height: 100%;
        overflow-y: auto;
    }
	#semester .course {
   		box-shadow: 0 0 8px 0px #f5f5f5;
	    background-color: #f5f5f5;
        position: relative;
        transition: all .5s cubic-bezier(0.4, 0.0, 0.2, 1);
        & > span{
            display: flex;
            align-items: center;
            overflow: hidden;
            height: 20px;
            transition: all .5s cubic-bezier(0.4, 0.0, 0.2, 1);
            input{
                background-color: transparent;
                border: none !important;
                height: 100%;
                margin: 0;
                margin-left: 6px;
                margin-top: -2px;
                width: 40px;
                box-shadow: none !important;
                position: relative;
                &:not([disabled]){
                    z-index: 9;
                }
                &[name="teacher"]{
                    width: 100%;
                }
            }
            &.hide{
                height: 0;
                opacity: 0;
            }
        }
        .name{
            text-transform: capitalize;
        }
        .remove{
            width: 80px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            left: initial;
            border-radius: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                width: 30px;
                height: 30px;
                stroke: #f5f5f5;
                transition: fill 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);                
            }
            &.activated svg{
                fill: $rojo;
                stroke: white;
            }
            .waves-ripple{
                background-color: white !important;
            }
        }
    	&[data-type="1"]{
    		background-color: rgba(245, 245, 245, 0.8);
    	}
    	&[data-type="2"]{
    		background-color: rgba(245, 245, 245, 0.60);
    	}
    	&[data-type="3"]{
    		background-color: rgba(245, 245, 245, 0.40);
    		box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.40);
    	}
    	&[data-type="4"]{
    		background-color: rgba(245, 245, 245, 0.20);
    		box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.20);
    	}
    	&[data-type="5"]{
    		background-color: rgba(245, 245, 245, 0.15);
    		box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.15);
    	}
    	&[data-type="6"]{
    		background-color: rgba(245, 245, 245, 0.10);
    		box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.10);
    	}
    	&[data-type="7"]{
    		background-color: rgba(245, 245, 245, 0.05);
    		box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.05);
    	}
        &.removed{
            transform: translateX( -100%);
            opacity: 0;
            height: 0 !important;
            padding: 0;
            margin: 0;
        }
        //rgb(249, 237, 221)
        &.crossing{
            background-color: #ffd68f;
            .event:not(.night){
                background-color: white;
            }
            .remove svg{
                stroke: #ffd68f;
            }
            .remove.activated svg{
                stroke: white;
            }
        }
	}
    .add{
        display: flex;
        margin: 15px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        height: 60px;
        transition: height .5s cubic-bezier(0.4, 0.0, 0.2, 1);
        span{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 300;
            color: $negro;
        }
        svg{
            width: 40px;
            height: 40px;
            fill: $verde;
            stroke: white;
            margin-left: 10px;
        }
        &.grande {
            height: calc(100% - 30px);
        }
    }
    #save{
        position: fixed;
        bottom: -50px;
        right: 15px;
        transform: scale(0.8);
        opacity: 0;
        background-color: #387ef5;
        svg{
            width: 30px;
            height: 100%;
            fill: white;
        }
        &.show{
            bottom: 15px;
            opacity: 1;
            transform: scale(1);
        }
    }
    #modalCourses{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        overflow-y: auto;
        background-color: white;
        transform: scale(0.9);
        z-index: 99;
        transition: opacity 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
        .groups-container{
            position: relative;
            header{
                margin-top: 0;
                display: flex;
                align-items: center;
                .animation{
                    position: absolute;
                    right: -15px;
                    width: 30px;
                    height: 5px;
                    opacity: 0;
                    /*width: 80px;
                    opacity: 0;
                    height: 20px;
                    background-image: url(../../../img/loading.gif);
                    background-position: center;
                    background-size: 170px;*/
                    transition: opacity 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), right 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
                    .barra{
                        width: 30px;
                        height: 5px;
                        border-radius: 5px;
                        background-color: rgba(95, 158, 160, 0.51);
                        animation: a-barra 2s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;                        
                    }
                }
                span{
                    font-weight: 500;
                    max-width: calc(100% - 18px);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

            }
            &.loading{
                .animation{
                    right: 25px;
                    opacity: 1;
                }
                header::after {
                    opacity: 0;
                }
            }
            header::after {
                content: '';
                width: 10px;
                height: 10px;
                position: absolute;
                right: 15px;
                top: 20px;
                border-radius: 100%;
                transition: background 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
            }
            &.full, &.empty{
                header::after{
                    background-color: $naranja;
                }
                .groups::after{
                    content: 'No hay grupos, todos estan llenos.';
                    display: block;
                    text-align: center;
                    font-weight: 300;
                    margin-bottom: 10px;
                }
                &.empty{
                    header::after{
                        background-color: $azul;
                    }
                    .groups::after{
                        content: 'No hay grupos, puede que los abran despues.';
                    }
                }
                .groups:not(.hide){
                    height: 30px !important;
                }
            }
            .groups{
                padding: 0 15px;
                .group, span:not(.event){
                    display: block
                }
                .group{
                    margin-bottom: 15px;
                    font-weight: 300;
                    border-radius: 4px;
                    padding: 0 5px;
                    padding-bottom: 5px;
                    .progress{
                        position: absolute;
                        width: 0%;
                        height: 4px;
                        bottom: 7px;
                        margin: 0;
                        background-color: #acece6;
                        border-radius: 0;
                        transition: width 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
                    }
                    &.almost .progress{
                        background-color: $naranja;
                    }
                    &.here .number::after{
                        content: 'Estas aqui';
                        margin-left: 6px;
                        font-weight: 500;
                        font-size: 12px;
                        display: inline-block;
                    }
                    &.crossing .number::after{
                        content: 'Se te cruza';
                        margin-left: 6px;
                        font-weight: 500;
                        font-size: 12px;
                        display: inline-block;
                    }
                }
                &.show-height{
                    position: absolute;
                    height: auto !important;
                }
                .teacher{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
#closeModalCourses{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    width: 56px;
    height: 56px;
    padding: 15px;
    z-index: 999;
    transition: right 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    .icon{
        width: 100%;
        height: 100%;
        fill: rgba(228, 33, 18, 0.65);
    }
    &.ocultar{
        right: -80px;
        opacity: 0;
    }
}
@keyframes a-barra{
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }
    50%{
        opacity: 1;
        transform: translateX(10%);
        
    }
    100%{
        opacity: 0;
        transform: translateX(110%);
    }
}