@import '../../../scss/variables.scss';

.vista[name="profile"]{
	& > header{
		display: flex;
	    flex-direction: column;
	    align-items: center;
		position: relative;	    
	    .img-container {
		    width: 100px;
		    min-width: 100px;
		    height: 100px;
		    border-radius: 50%;
		    overflow: hidden;
		    margin-right: 15px;
		    .img {
			    width: 100%;
			    height: 100%;
			    background-position: 50% 100%;
			    background-size: contain;
			    background-repeat: no-repeat;
			    background-color: #e7feff;
			    transform: scale(2);
			}
		}
		.porcent{
			position: absolute;
			right: calc(50% - 60px);
		    bottom: 23px + 20px;
		    color: white;
		    width: 50px;
		    height: 50px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    border-radius: 50%;
		    background-color: #0c60ee;
		    box-shadow: 0 0 14px #5d96f7;
		}
		.info{
			margin-top: 15px;
			span{
				text-transform: capitalize;
				font-weight: 300;
			}
		}
	}
	& > .info{
		margin-top: 20px;
		span{
			display: block;
	    	font-weight: 300;
	    	margin: 6px 15px;
		}
	}
	section {
		header {
		    padding: 15px;
		    text-transform: uppercase;
		    font-weight: 200;
		    & + div{
		    	transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
				will-change: height, opacity;
				overflow: hidden;
				display: block !important;
				&.hide{
					height: 0 !important;
					opacity: 0;
				}
		    }
		}
	}
}
body.offline .vista[name="profile"], body.server-problems .vista[name="profile"]{
	overflow-y: hidden;
	.offline-notice{
		height: calc(100% - 150px);
		top: 150px;
		.img {
		    width: 150px;
		    height: 150px;
		}
	}
	& > .info{
		display: none;
	}
}