@import '../../../scss/variables.scss';

.vista[name="next-semester"]{
    .total{
        display: block;
        margin: 15px;
        font-weight: 300;
    }
	.course {
   		box-shadow: 0 0 8px 0px #f5f5f5;
	    background-color: #f5f5f5;
        position: relative;
        transition: all .5s cubic-bezier(0.4, 0.0, 0.2, 1);
        & > span{
            display: flex;
            align-items: center;
            overflow: hidden;
            height: 20px;
            transition: all .5s cubic-bezier(0.4, 0.0, 0.2, 1);
            input{
                background-color: transparent;
                border: none !important;
                height: 100%;
                margin: 0;
                margin-left: 6px;
                margin-top: -2px;
                width: 40px;
                box-shadow: none !important;
                position: relative;
                &:not([disabled]){
                    z-index: 9;
                }
                &[name="teacher"]{
                    width: 100%;
                }
            }
            &.hide{
                height: 0;
                opacity: 0;
            }
        }
        .remove{
            width: 80px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            left: initial;
            border-radius: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                width: 30px;
                height: 30px;
                stroke: #f5f5f5;
                transition: fill 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);                
            }
            &.activated svg{
                fill: $rojo;
            }
            .waves-ripple{
                background-color: white !important;
            }
        }
    	&[data-type="1"]{
    		background-color: rgba(245, 245, 245, 0.8);
    	}
    	&[data-type="2"]{
    		background-color: rgba(245, 245, 245, 0.60);
    	}
    	&[data-type="3"]{
    		background-color: rgba(245, 245, 245, 0.40);
    		box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.40);
    	}
    	&[data-type="4"]{
    		background-color: rgba(245, 245, 245, 0.20);
    		box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.20);
    	}
    	&[data-type="5"]{
    		background-color: rgba(245, 245, 245, 0.15);
    		box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.15);
    	}
    	&[data-type="6"]{
    		background-color: rgba(245, 245, 245, 0.10);
    		box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.10);
    	}
    	&[data-type="7"]{
    		background-color: rgba(245, 245, 245, 0.05);
    		box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.05);
    	}
        &.removed{
            transform: translateX( -100%);
            opacity: 0;
            height: 0 !important;
            padding: 0;
            margin: 0;
        }
	}
    .add{
        display: flex;
        margin: 15px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        height: 60px;
        transition: height .5s cubic-bezier(0.4, 0.0, 0.2, 1);
        span{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 300;
            color: $negro;
        }
        svg{
            width: 40px;
            height: 40px;
            fill: $verde;
            stroke: white;
            margin-left: 10px;
        }
        &.grande {
            height: calc(100% - 30px);
        }
    }
    .dropdown-button{
        display: none;
        position: absolute;
    }
    .dropdown-content{
        width: 156px !important;
    }
}