.vista[name="history"] .courses-container header {
  justify-content: space-between; }
.vista[name="history"] .courses-container .course > span {
  max-width: calc(100% - 80px); }
.vista[name="history"] .courses-container .course::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 100%; }
.vista[name="history"] .courses-container .course::before {
  content: '';
  position: absolute;
  right: 32px;
  top: 10px;
  border-radius: 100%;
  font-size: 11px; }
.vista[name="history"] .courses-container .course.pending::after {
  background-color: #FA8072; }
.vista[name="history"] .courses-container .course.pending::before {
  content: 'Falta la nota'; }
.vista[name="history"] .courses-container .course.disapproved::after {
  background-color: #ea5c5c; }
.vista[name="history"] .courses-container .course.disapproved::before {
  content: 'Perdida'; }
.vista[name="history"] .courses-container .course.approved::after {
  background-color: #5FE880; }
.vista[name="history"] .courses-container .course span {
  display: block; }

/*# sourceMappingURL=history.css.map */
