.vista[name="next-semester"] .total {
  display: block;
  margin: 15px;
  font-weight: 300; }
.vista[name="next-semester"] .course {
  box-shadow: 0 0 8px 0px #f5f5f5;
  background-color: #f5f5f5;
  position: relative;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
  .vista[name="next-semester"] .course > span {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 20px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
    .vista[name="next-semester"] .course > span input {
      background-color: transparent;
      border: none !important;
      height: 100%;
      margin: 0;
      margin-left: 6px;
      margin-top: -2px;
      width: 40px;
      box-shadow: none !important;
      position: relative; }
      .vista[name="next-semester"] .course > span input:not([disabled]) {
        z-index: 9; }
      .vista[name="next-semester"] .course > span input[name="teacher"] {
        width: 100%; }
    .vista[name="next-semester"] .course > span.hide {
      height: 0;
      opacity: 0; }
  .vista[name="next-semester"] .course .remove {
    width: 80px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    left: initial;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .vista[name="next-semester"] .course .remove svg {
      width: 30px;
      height: 30px;
      stroke: #f5f5f5;
      transition: fill 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
    .vista[name="next-semester"] .course .remove.activated svg {
      fill: #ea5c5c; }
    .vista[name="next-semester"] .course .remove .waves-ripple {
      background-color: white !important; }
  .vista[name="next-semester"] .course[data-type="1"] {
    background-color: rgba(245, 245, 245, 0.8); }
  .vista[name="next-semester"] .course[data-type="2"] {
    background-color: rgba(245, 245, 245, 0.6); }
  .vista[name="next-semester"] .course[data-type="3"] {
    background-color: rgba(245, 245, 245, 0.4);
    box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.4); }
  .vista[name="next-semester"] .course[data-type="4"] {
    background-color: rgba(245, 245, 245, 0.2);
    box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.2); }
  .vista[name="next-semester"] .course[data-type="5"] {
    background-color: rgba(245, 245, 245, 0.15);
    box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.15); }
  .vista[name="next-semester"] .course[data-type="6"] {
    background-color: rgba(245, 245, 245, 0.1);
    box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.1); }
  .vista[name="next-semester"] .course[data-type="7"] {
    background-color: rgba(245, 245, 245, 0.05);
    box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.05); }
  .vista[name="next-semester"] .course.removed {
    transform: translateX(-100%);
    opacity: 0;
    height: 0 !important;
    padding: 0;
    margin: 0; }
.vista[name="next-semester"] .add {
  display: flex;
  margin: 15px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  height: 60px;
  transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
  .vista[name="next-semester"] .add span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    color: #222629; }
  .vista[name="next-semester"] .add svg {
    width: 40px;
    height: 40px;
    fill: #5FE880;
    stroke: white;
    margin-left: 10px; }
  .vista[name="next-semester"] .add.grande {
    height: calc(100% - 30px); }
.vista[name="next-semester"] .dropdown-button {
  display: none;
  position: absolute; }
.vista[name="next-semester"] .dropdown-content {
  width: 156px !important; }

/*# sourceMappingURL=next-semester.css.map */
