.vista[name="home"] .course {
  box-shadow: 0 0 8px 0px #f5f5f5;
  background-color: #f5f5f5; }
  .vista[name="home"] .course .grades {
    display: flex;
    flex-direction: column; }
  .vista[name="home"] .course .name {
    display: flex;
    align-items: center;
    max-width: 100%; }
    .vista[name="home"] .course .name > span {
      max-width: calc(100% - 40px);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .vista[name="home"] .course .name .img {
      margin-right: 8px; }
  .vista[name="home"] .course[data-type="1"] {
    background-color: rgba(245, 245, 245, 0.8); }
  .vista[name="home"] .course[data-type="2"] {
    background-color: rgba(245, 245, 245, 0.6); }
  .vista[name="home"] .course[data-type="3"] {
    background-color: rgba(245, 245, 245, 0.4);
    box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.4); }
  .vista[name="home"] .course[data-type="4"] {
    background-color: rgba(245, 245, 245, 0.2);
    box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.2); }
  .vista[name="home"] .course[data-type="5"] {
    background-color: rgba(245, 245, 245, 0.15);
    box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.15); }
  .vista[name="home"] .course[data-type="6"] {
    background-color: rgba(245, 245, 245, 0.1);
    box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.1); }
  .vista[name="home"] .course[data-type="7"] {
    background-color: rgba(245, 245, 245, 0.05);
    box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.05); }
  .vista[name="home"] .course.disapproved::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #ea5c5c;
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 100%; }

body.offline .vista[name="home"] {
  overflow-y: hidden; }

/*# sourceMappingURL=home.css.map */
