@import '../../../scss/variables.scss';

.vista[name="home"]{
	.course {
   		box-shadow: 0 0 8px 0px #f5f5f5;
	    background-color: #f5f5f5;
	    .grades {
		    display: flex;
		    flex-direction: column;
		}
		.name{
		    display: flex;
		    align-items: center;
            max-width: 100%;
            & > span{
                max-width: calc(100% - 40px);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .img{
                margin-right: 8px;
            }
		}
    	&[data-type="1"]{
    		background-color: rgba(245, 245, 245, 0.8);

    	}
    	&[data-type="2"]{
    		background-color: rgba(245, 245, 245, 0.60);

    	}
    	&[data-type="3"]{
    		background-color: rgba(245, 245, 245, 0.40);
    		box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.40);
    	}
    	&[data-type="4"]{
    		background-color: rgba(245, 245, 245, 0.20);
    		box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.20);
    	}
    	&[data-type="5"]{
    		background-color: rgba(245, 245, 245, 0.15);
    		box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.15);
    	}
    	&[data-type="6"]{
    		background-color: rgba(245, 245, 245, 0.10);
    		box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.10);
    	}
    	&[data-type="7"]{
    		background-color: rgba(245, 245, 245, 0.05);
    		box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.05);
    	}
    	&.disapproved::after {
		    content: '';
		    width: 10px;
		    height: 10px;
		    background-color: $rojo;
		    position: absolute;
		    right: 15px;
		    top: 15px;
		    border-radius: 100%;
		}
	}
}
body.offline .vista[name="home"]{
    overflow-y: hidden;
}