<!DOCTYPE html>
<html ng-app="starter" ng-controller="appCtrl" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no,  width=device-width">
        <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
        <title></title>

        <link rel="manifest" href="manifest.json">

        <!-- un-comment this code to enable service worker
        <script>
        if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
        .then(() => console.log('service worker installed'))
        .catch(err => console.log('Error', err));
        }
        </script>-->

        <link href="lib/ionic/css/ionic.css" rel="stylesheet">

        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>
        <script src="lib/md5-min.js"></script>

        <script src="js/app.js"></script>
        <script src="lib/jquery/jquery-3.1.0.min.js"></script>

        <script src="components/home/js/homeCtrl.js"></script>
        <script src="components/plan/js/planCtrl.js"></script>
        <script src="components/profile/js/profileCtrl.js"></script>
        <script src="components/schedule/js/scheduleCtrl.js"></script>
        <script src="components/history/js/historyCtrl.js"></script>
        <script src="components/enrollment/js/enrollmentCtrl.js"></script>
        <script src="components/nextSemester/js/nextSemesterCtrl.js"></script>
        <script src="components/about/js/aboutCtrl.js"></script>

        <script src="components/login/js/loginCtrl.js"></script>

        <link rel="stylesheet" href="lib/materialize/materialize.min.css">
        <script src="lib/materialize/materialize.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="components/home/css/home.css">
        <link rel="stylesheet" type="text/css" href="components/profile/css/profile.css">
        <link rel="stylesheet" type="text/css" href="components/plan/css/plan.css">
        <link rel="stylesheet" type="text/css" href="components/nextSemester/css/next-semester.css">
        <link rel="stylesheet" type="text/css" href="components/enrollment/css/enrollment.css">
        <link rel="stylesheet" type="text/css" href="components/history/css/history.css">
        <link rel="stylesheet" type="text/css" href="components/schedule/css/schedule.css">
        <link rel="stylesheet" type="text/css" href="components/about/css/about.css">



        <link rel="stylesheet" type="text/css" href="components/login/css/login.css">
    </head>
    <body ng-class="{offline : offline}">
        <script src="lib/mo/mo.min.js"></script>
        <nav ng-class="{ocultar : !isLogged()}">
            <div class="nav-wrapper">
                <a class="brand-logo">{{title}}</a>
                <a data-activates="menu" class="button-collapse">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24">
                        <path d="M 2 5 L 2 7 L 22 7 L 22 5 L 2 5 z M 2 11 L 2 13 L 22 13 L 22 11 L 2 11 z M 2 17 L 2 19 L 22 19 L 22 17 L 2 17 z"></path>
                    </svg>
                </a>
                <buttom id="refresh" ng-click="refresh()"></buttom>
                <div class="offline-icon">
                    <span>Sin conexion</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path d="M 15 7 A 1 1 0 0 0 14 8 A 1 1 0 0 0 15 9 A 1 1 0 0 0 16 8 A 1 1 0 0 0 15 7 z M 18 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 9 A 1 1 0 0 0 19 8 A 1 1 0 0 0 18 7 z M 12 8 A 1 1 0 0 0 11 9 A 1 1 0 0 0 12 10 A 1 1 0 0 0 13 9 A 1 1 0 0 0 12 8 z M 21 8 A 1 1 0 0 0 20 9 A 1 1 0 0 0 21 10 A 1 1 0 0 0 22 9 A 1 1 0 0 0 21 8 z M 10.125 9.96875 A 1 1 0 0 0 9.125 10.96875 A 1 1 0 0 0 10.125 11.96875 A 1 1 0 0 0 11.125 10.96875 A 1 1 0 0 0 10.125 9.96875 z M 23 10 A 1 1 0 0 0 22 11 A 1 1 0 0 0 23 12 A 1 1 0 0 0 24 11 A 1 1 0 0 0 23 10 z M 7.3925781 10.490234 A 1 1 0 0 0 6.5429688 10.933594 A 1 1 0 0 0 6.8183594 12.322266 A 1 1 0 0 0 8.2070312 12.044922 A 1 1 0 0 0 7.9316406 10.658203 A 1 1 0 0 0 7.3925781 10.490234 z M 5.1679688 12.332031 A 1 1 0 0 0 4.1679688 13.332031 A 1 1 0 0 0 5.1679688 14.332031 A 1 1 0 0 0 6.1679688 13.332031 A 1 1 0 0 0 5.1679688 12.332031 z M 23.417969 12.75 A 1 1 0 0 0 22.417969 13.75 A 1 1 0 0 0 23.417969 14.75 A 1 1 0 0 0 24.417969 13.75 A 1 1 0 0 0 23.417969 12.75 z M 26.207031 14 A 1 1 0 0 0 25.207031 15 A 1 1 0 0 0 26.207031 16 A 1 1 0 0 0 27.207031 15 A 1 1 0 0 0 26.207031 14 z M 4 15 A 1 1 0 0 0 3 16 A 1 1 0 0 0 4 17 A 1 1 0 0 0 5 16 A 1 1 0 0 0 4 15 z M 28.197266 16.353516 A 1 1 0 0 0 27.197266 17.353516 A 1 1 0 0 0 28.197266 18.353516 A 1 1 0 0 0 29.197266 17.353516 A 1 1 0 0 0 28.197266 16.353516 z M 3 18 A 1 1 0 0 0 2 19 A 1 1 0 0 0 3 20 A 1 1 0 0 0 4 19 A 1 1 0 0 0 3 18 z M 28.990234 19.509766 A 1 1 0 0 0 27.990234 20.509766 A 1 1 0 0 0 28.990234 21.509766 A 1 1 0 0 0 29.990234 20.509766 A 1 1 0 0 0 28.990234 19.509766 z M 3.8125 21.0625 A 1 1 0 0 0 2.8125 22.0625 A 1 1 0 0 0 3.8125 23.0625 A 1 1 0 0 0 4.8125 22.0625 A 1 1 0 0 0 3.8125 21.0625 z M 27.396484 22.021484 A 1 1 0 0 0 26.396484 23.021484 A 1 1 0 0 0 27.396484 24.021484 A 1 1 0 0 0 28.396484 23.021484 A 1 1 0 0 0 27.396484 22.021484 z M 24.332031 22.957031 A 1 1 0 0 0 23.332031 23.957031 A 1 1 0 0 0 24.332031 24.957031 A 1 1 0 0 0 25.332031 23.957031 A 1 1 0 0 0 24.332031 22.957031 z M 6 23 A 1 1 0 0 0 5 24 A 1 1 0 0 0 6 25 A 1 1 0 0 0 7 24 A 1 1 0 0 0 6 23 z M 9 23 A 1 1 0 0 0 8 24 A 1 1 0 0 0 9 25 A 1 1 0 0 0 10 24 A 1 1 0 0 0 9 23 z M 12 23 A 1 1 0 0 0 11 24 A 1 1 0 0 0 12 25 A 1 1 0 0 0 13 24 A 1 1 0 0 0 12 23 z M 15 23 A 1 1 0 0 0 14 24 A 1 1 0 0 0 15 25 A 1 1 0 0 0 16 24 A 1 1 0 0 0 15 23 z M 18 23 A 1 1 0 0 0 17 24 A 1 1 0 0 0 18 25 A 1 1 0 0 0 19 24 A 1 1 0 0 0 18 23 z M 21 23 A 1 1 0 0 0 20 24 A 1 1 0 0 0 21 25 A 1 1 0 0 0 22 24 A 1 1 0 0 0 21 23 z"></path>
                    </svg>
                </div>
                <ul class="side-nav" id="menu">
                    <div class="user waves-effect waves-azul-claro" on-tap="goTo('profile')">
                        <div class="img-container"><div class="img" ng-attr-style="background-image: url({{user.img}})"></div></div>
                        <div class="info">
                            <span class="name">{{user.name.match('[a-z]+ ')[0]}}: {{user.code}}</span>
                            <span class="average">
                                <span class="official-average">{{user.officialAverage}}</span>
                                <span class="current">{{user.average}}</span>
                            </span> 
                        </div>
                    </div>
                    <li on-tap="goTo('home')" class="waves-effect waves-azul"><span>Inicio</span></li>
                    <li on-tap="goTo('schedule')" class="waves-effect waves-azul"><span>Horario</span></li>
                    <li on-tap="goTo('plan')" class="waves-effect waves-azul"><span>Plan</span></li>
                    <li on-tap="goTo('history')" class="waves-effect waves-azul"><span>Historia</span></li>
                    <li on-tap="goTo('next-semester')" class="waves-effect waves-azul"><span>Siguiente semestre</span></li>
                    <li on-tap="goTo('enrollment')" class="waves-effect waves-azul"><span>Matricula</span></li>
                    <li on-tap="goTo('about')" class="waves-effect waves-azul"><span>Acerca de</span></li>
                    <li on-tap="logout()" class="logout waves-effect waves-rojo">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <path d="M 10.8125 9.28125 L 4.8125 15.28125 L 4.09375 16 L 4.8125 16.71875 L 10.8125 22.71875 L 12.21875 21.28125 L 7.9375 17 L 28 17 L 28 15 L 7.9375 15 L 12.21875 10.71875 L 10.8125 9.28125 z"></path>
                        </svg>
                        <span>Salir</span>
                    </li>
                </ul>
            </div>
        </nav>
        <ion-nav-view></ion-nav-view>
        <div id="modalDelete" class="modal bottom-sheet" ng-controller="enrollmentCtrl">
            <div class="modal-content">
                <h4>Eliminar asínatura</h4>
            </div>
            <div class="modal-footer">
                <a ng-click="cancelModal($event)" class="btn-not modal-action modal-close waves-effect btn-flat">no</a>
                <a ng-click="deleteCourse()" class="btn-yes modal-action modal-close waves-effect waves-rojo btn-flat">si, eliminar</a>
            </div>
        </div>
        <div id="modalSave" class="modal bottom-sheet" ng-controller="enrollmentCtrl">
            <div class="modal-content">
                <h4>¿Seguro que quieres guardar este horario?</h4>
            </div>
            <div class="modal-footer">
                <a ng-click="cancelModal($event)" class="btn-not modal-action modal-close waves-effect btn-flat">no</a>
                <a ng-click="saveSchedule()" class="btn-yes modal-action modal-close waves-effect waves-verde btn-flat">si, guardar</a>
            </div>
        </div>
        <div id="loading" loading>
            <div class="animation">
                <div class="sheet"></div>
                <div class="sheet"></div>
                <div class="sheet"></div>
            </div>
        </div>
    </body>
</html>
