@import '../../../scss/variables.scss';

.vista[name="history"]{
	.courses-container {
		header{
			justify-content: space-between;
		}
		.course {
			& > span{
				max-width: calc(100% - 80px);
			}
			&::after {
			    content: '';
			    width: 10px;
			    height: 10px;
			    position: absolute;
			    right: 15px;
			    top: 15px;
			    border-radius: 100%;
			}
			&::before {
			    content: '';
			    position: absolute;
			    right: 32px;
			    top: 10px;
			    border-radius: 100%;
			    font-size: 11px;
			}
			&.pending::after{
			    background-color: $naranja;
			}
			&.pending::before{
			    content: 'Falta la nota';
			}
			&.disapproved::after{
				background-color: $rojo;
			}
			&.disapproved::before{
			    content: 'Perdida';
			}
			&.approved::after{
				background-color: $verde;
			}
			span{
				display: block;
			}
		}
	}
}