.vista[name="plan"] {
  overflow-y: hidden; }
  .vista[name="plan"] main {
    width: 100%;
    height: 100%;
    overflow-y: auto; }
  .vista[name="plan"] .courses-container .course::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 100%; }
  .vista[name="plan"] .courses-container .course.studying::after {
    background-color: #5F9EA0; }
  .vista[name="plan"] .courses-container .course.studied::after {
    background-color: #5FE880; }
  .vista[name="plan"] .courses-container .course span {
    display: block; }
  .vista[name="plan"] .component header .img {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    background-position: center;
    background-size: contain;
    margin-right: 8px; }
  .vista[name="plan"] .fixed-action-btn .btn-floating {
    background-color: #FA8072 !important;
    position: relative; }
    .vista[name="plan"] .fixed-action-btn .btn-floating svg {
      width: 30px;
      height: 30px;
      fill: #222629;
      stroke: #FA8072;
      position: absolute;
      top: 12px;
      left: 12px;
      transform: scale(0.7) rotateZ(-180deg);
      opacity: 0;
      transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
    .vista[name="plan"] .fixed-action-btn .btn-floating.selection-active .plus-icon {
      opacity: 1;
      transform: scale(1) rotateZ(0deg); }
    .vista[name="plan"] .fixed-action-btn .btn-floating.done .check-icon {
      opacity: 1;
      transform: scale(1) rotateZ(0deg); }
  .vista[name="plan"] .fixed-action-btn .clickleable {
    width: 56px;
    height: 56px;
    position: absolute;
    z-index: 99;
    opacity: 0;
    display: inline-block;
    top: 0px;
    overflow: hidden;
    line-height: 40px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
    outline: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent; }
  .vista[name="plan"] .fixed-action-btn ul {
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0; }
    .vista[name="plan"] .fixed-action-btn ul li {
      display: flex;
      align-items: center;
      justify-content: center; }
      .vista[name="plan"] .fixed-action-btn ul li.cancelar {
        max-width: 120px;
        min-width: 120px;
        width: 120px; }
    .vista[name="plan"] .fixed-action-btn ul svg {
      width: 25px;
      height: 25px;
      margin-top: -2px;
      margin-left: 6px;
      stroke: salmon; }
  .vista[name="plan"] .fixed-action-btn.active .clickleable {
    top: 100%; }
  .vista[name="plan"] .fixed-action-btn.active .btn-floating svg {
    opacity: 0 !important; }
  .vista[name="plan"] .fixed-action-btn.active ul {
    opacity: 1; }
  .vista[name="plan"] .tap-target-wrapper .tap-target {
    background-color: rgba(234, 234, 234, 0.98); }
  .vista[name="plan"] .tap-target-wrapper .tap-target-wave::before, .vista[name="plan"] .tap-target-wrapper .tap-target-wave::after {
    background-color: rgba(247, 148, 135, 0.36); }

/*# sourceMappingURL=plan.css.map */
