@import 'variables.scss';
@charset 'UTF-8';
body, html{
	height: 100%;
}
li {
    list-style: none;
    font-weight: 300;
    text-decoration: none;
}
.modal{
	min-height: initial !important;
	h4{
		font-size: 22px;
	}
}
.offline-notice, .aviso{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #f5f5f5;
	z-index: 99;
	transition: opacity .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	.img{
		width: 200px;
		height: 200px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../img/offline.png);
	}
	&::after {
		content: 'Parece que no tienes internet';
	    font-weight: 200;
	    letter-spacing: 1px;
	    font-size: 18px;
	    margin: 0 20px;
    	text-align: center;
	}
	&.not-yet{
		display: flex;
		opacity: 0;
		left: -100%;
		&.show{
			opacity: 1;
			left: 0;
		}
		.img{
			background-image: url(../img/not_yet.png);
		}
		&::after {
			content: "A\00fan no empieza el semestre";
		}
	}
}
.desplegable {
	header{
		display: flex;
		align-items: center;
		padding: 15px;
		span{
	    	text-transform: capitalize;
			font-weight: 300;
	    }
	}
	&:first-child header{
		margin-top: 15px;
	}
	header + div{
		transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
		will-change: height, opacity;
		overflow: hidden;
		display: block !important;
		&.hide{
			height: 0 !important;
			opacity: 0;
		}
	}
}
#loading{
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100% - 56px);
	position: absolute;
    z-index: 99;
    top: 56px;
    opacity: 0;
	transition: opacity .5s cubic-bezier(0.4, 0.0, 0.2, 1);	
	background-color: white;
	.animation{
		width: 160px;
	    height: 80px;
		position: relative;
		transform: scale(0.8);
		transition: transform .5s cubic-bezier(0.4, 0.0, 0.2, 1);	
		.sheet{
			width: 60px;
    		height: 80px;
			background-position: 50% 100%;
			background-size: contain;
			position: absolute;
		    transform-origin: bottom;
		    background-repeat: no-repeat;
			left: 50px;
			animation: a-sheet 5s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;	
			&:nth-child(1){
				z-index: 3;
				animation-delay: 1s;
				background-image: url(../img/sheet1.png);
			}
			&:nth-child(2){
				z-index: 2;
				animation-delay: 0.5s;
				background-image: url(../img/sheet2.png);
			}
			&:nth-child(3){
			    z-index: 1;
				background-image: url(../img/sheet3.png);
			}
		}
	}
	&.show .animation{
		transform: scale(1);
	}
}
nav{
	overflow: visible;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 14px 0 rgba(0, 0, 0, 0.06);
    border-bottom: none !important;
    position: relative;
    z-index: 998;
    color: $negro;
    background-color: white;
    transition: margin 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
    will-change: margin, box-shadow;
	&.white{
		box-shadow: 0 2px 4px 0 rgb(255, 255, 255), 0 2px 14px 0 rgba(0, 0, 0, 0.06);
	}
	&.ocultar {
	    margin-top: -61px;
	}
	&.no-shadow {
	    box-shadow: none;
	}
	.offline-icon{
		position: absolute;
		top: -40px;
		right: 15px;
		opacity: 0;
		display: flex;
		align-items: center;
    	transition: top 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
    	span{
    		font-weight: 300;
		    font-size: 12px;
		    margin-right: 8px;
		    line-height: normal;
    	}
    	svg{
    		width: 30px;
			height: 30px;
			stroke: white;
    	}
	}
	#refresh{
		position: absolute;
		top: 0px;
		right: 0px;
		display: flex;
		align-items: center;
	    width: 56px;
	    height: 56px;
    	padding-top: 9px;
    	z-index: 999;
		transition: right 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
		.icon{
			width: 100%;
			height: 100%;
			transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);			
			path{
				fill:none;
				stroke: $negro;
				stroke-linecap:round;
				stroke-linejoin:round;
				stroke-width:3px;
			}
		}
		&.loading{
			.icon{
				transform: rotateZ(60deg) scale(0.4) !important;
				opacity: 0 !important;
			}
		}
		&.ocultar{
			right: -80px;
			opacity: 0;
		}
	}
	.brand-logo{
		font-size: 18px;
		left: 60px;
		transform: none;
		color: $negro;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
	.ocultar{
		display: none;
	}
	.button-collapse{
		margin-left: 0;
		svg{
			width: 56px;
		    height: 56px;
		    padding: 15px;
		}
	}
	.side-nav{
		.user{
			padding: 15px;
			display: flex;
			margin-top: -30px;
		    opacity: 0;
		    transition: all .5s cubic-bezier(0.4, 0.0, 0.2, 1);
			.img-container{
				width: 50px;
				min-width: 50px;
				height: 50px;
				border-radius: 50%;
				overflow: hidden;
				margin-right: 15px;
			}
			.img{
				width: 100%;
			    height: 100%;
			    background-position: 50% 100%;
			    background-size: contain;
			    background-repeat: no-repeat;
			    background-color: #e7feff;
			    transform: scale(2);
			}
			.info > span{
				display: block;
			    line-height: 14px;
			    margin-top: 10px;
			    font-weight: 300;
			    text-transform: capitalize;
			    &.name{
			    	margin-top: 6px;
			    }
			}
			.average{
				display: flex;
    			align-items: center;
				.current{
					color: #0c60ee;
					&::before {
					    content: '/';
					    display: inline-block;
					    margin: 0 5px;
					    opacity: 0.7;
					}
					&::after {
					    content: 'Actual';
					    font-size: 12px;
					    opacity: 0.6;
					    color: #0c60ee;
					    display: inline-block;
					    margin-left: 5px;
					}
				}
			}
		}
		li{
			padding-left: 15px;
			font-size: 16px;
			width: 100%;
		}
		.logout{
			position: absolute;
    		bottom: 60px;
    		display: flex;
    		align-items: center;
    		svg{
    			width: 20px;
    			height: 20px;
    			margin-top: -2px;
    			fill: $rojo;
    		}
    		span{
    			margin-left: 12px;
    		}
		}
		&:not([style="transform: translateX(-100%);"]) .user{
			margin-top: 0;
			opacity: 1;
		}
	}
}
.drag-target[style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 50%; right: 0px;"] {
    width: calc(100% - 300px) !important;
}
.view-container{
	z-index: 8;
	height: calc(100% - 56px);
}
.vista {
	overflow-y: auto;
	& > form{
		padding: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.input-field{
			width: 100%;
		}
		.button{
			margin-top: 40px;
		}
	}
	.button{
		padding: 0px 10px;
		width: 150px;
		font-weight: 300;
		background-color: $azul;
	}
	.dropdown-content li:not(.disabled){
		a, span{
			color: $negro;
		}
	}
	.course{
		width: calc(100% - 30px);
		margin: 15px;
		margin-top: 0;
	    border-radius: 2px;
	    padding: 10px;
	    font-weight: 300;
	    position: relative;
	    overflow-x: visible;
   		background-color: rgba(245, 245, 245, 0.8);
    	box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.8);
    	transition: width 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), margin 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
    	will-change: width, margin, opacity;
    	.img{
	    	width: 20px;
		    height: 20px;
		    transform: translateY(-2px);
		    background-position: center;
			background-size: contain;
	    }
	    .waves-effect{
	    	width: 100%;
		    height: 100%;
		    position: absolute;
		    left: 0;
		    top: 0;
		    border-radius: 2px;
	    }
	    & > span{
	    	max-width: calc(100% - 40px);
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    overflow: hidden;
	    }
		&::before {
		    content: '';
		    width: 20px;
		    height: 20px;
		    background-color: gray;
		    background-image: url(../img/c.png);
		    background-size: contain;
		    display: inline-block;
		    border-radius: 50%;
		    position: absolute;
		    left: -85px;
		    opacity: 0;
		    top: calc(50% - 10px);
    		transition: left 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
		}
	    &:first-child{
	    	margin-top: 15px;
	    }
	    &.selected {
		    width: calc(100% - 70px);
		    margin-left: 55px;
		    &::before{
				left: -35px;
				opacity: 1;
		    }
		}
	}
	&.selection-active{
		.course:not(.selected){
			opacity: 0.6;
		}
	}
}
body.offline{
	nav {
		.brand-logo{
			max-width: calc(100% - 200px) !important;
		}
		.offline-icon{
			top: 12px;
			opacity: 1;
		}
		#refresh{
			top: -60px;
			opacity: 0;
		}
	}
	.offline-notice{
		display: flex;
	}
}
body.server-problems{
	.offline-notice{
		display: flex;
		&::after{
			content: 'No eres tu ni soy yo, el servidor esta teniendo problemas'
		}
		.img{
			background-image: url(../img/server_problems.png);
		}
	}
}
/* valid color */
.input-field input.valid {
	 border-bottom: 1px solid $negro !important;
	 box-shadow: 0 1px 0 0 $negro !important;
}
/* invalid color */
.input-field input.invalid {
	border-bottom: 1px solid $naranja !important;
	box-shadow: 0 1px 0 0 $naranja !important;
	& + label::after{
		top: 38px !important;
		color: $naranja;
		transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
	}
}
input:focus + label, input.valid + label  {
	color: $negro !important;
}
input:focus{
	border-bottom: 1px solid $negro !important;
	box-shadow: 0 1px 0 0 $negro !important;
	color: $negro;
	& + label::after{
		opacity: 0 !important;
	}
}

.tabs {
	justify-content: flex-start !important;
	.tab a{
		color: rgba(44, 66, 87, 0.67);
		&:hover, &.active{
			color: $azul;
		}
	}
}
.tabs .indicator{
	background-color: rgba(44, 66, 87, 0.25);
}
button{
	font-weight: 500 !important;
	box-shadow: none !important;
	&:not(.btn-flat){
		&:hover, &:active{
			box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2) !important;
		}
	}
}
.waves-effect.waves-rojo{
 	.waves-ripple {
		background-color: rgba(243, 115, 115, 0.87);
	}
}
.waves-effect.waves-verde .waves-ripple {
    background-color: rgba(95, 232, 128, 0.18);
}
.waves-effect.waves-azul .waves-ripple {
    background-color: rgba(170, 203, 205, 0.36);
}
.waves-effect.waves-azul-claro .waves-ripple {
    background-color: rgba(170, 203, 205, 0.16);
}
.waves-effect.waves-marron .waves-ripple {
    background-color: rgba(201, 182, 157, 0.29);
}
.waves-effect.waves-gris .waves-ripple {
    background-color: rgba(130, 131, 132, 0.05);
}
@keyframes a-sheet{
	0%{
		opacity: 1;
		transform: rotateZ(0deg);
	}
	20%{
		opacity: 0;
	}
	50%{
		opacity: 0;
		transform: rotateZ(-180deg);
	}
	60%{
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: rotateZ(-360deg);
	}
}