.vista[name="schedule"] {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  .vista[name="schedule"] .tab a {
    color: #222629;
    text-overflow: unset; }
  .vista[name="schedule"] .tab:not(.disabled) span::after {
    content: attr(events-number);
    width: 6px;
    height: 6px;
    min-width: 6px;
    min-height: 6px;
    font-size: 10px;
    background-color: rgba(95, 232, 128, 0.44);
    position: relative;
    top: -13px;
    right: -3px;
    padding: 0 4px;
    border-radius: 50%;
    color: black; }
  .vista[name="schedule"] .tab:not(.disabled)[name="lunes"] svg {
    width: 15px;
    height: 15px;
    transform: translateY(2px) translateX(-10px); }
  .vista[name="schedule"] .tab:not(.disabled)[name="lunes"] span::after {
    right: -28px; }
  .vista[name="schedule"] .tab.disabled span {
    color: rgba(37, 37, 37, 0.58);
    text-decoration: line-through; }
  .vista[name="schedule"] .indicator {
    background-color: #5F9EA0; }
  .vista[name="schedule"] .carousel {
    height: calc(100% - 56px) !important; }
  .vista[name="schedule"] .hours {
    height: calc(100% - 48px);
    width: 100%;
    overflow-y: auto; }
    .vista[name="schedule"] .hours .hour {
      width: 100%;
      height: 50px;
      min-height: calc((100vh - 48px) / 17 - 1px);
      border-bottom: 1px solid #eee;
      overflow-y: visible;
      position: relative; }
      .vista[name="schedule"] .hours .hour:last-child {
        border-bottom-color: white; }
      .vista[name="schedule"] .hours .hour .h {
        display: inline-block;
        margin-left: 4px;
        margin-top: 4px;
        font-weight: 300;
        position: relative;
        z-index: 92; }
      .vista[name="schedule"] .hours .hour .event {
        width: calc(100% - 30px);
        position: absolute;
        top: 0;
        left: 30px;
        z-index: 9;
        background-color: #FA8072; }
        .vista[name="schedule"] .hours .hour .event span {
          font-weight: 300;
          display: block;
          margin-top: 5px;
          margin-left: 5px;
          text-transform: capitalize;
          font-size: 12px; }
          .vista[name="schedule"] .hours .hour .event span:last-child {
            margin-top: 0; }
        .vista[name="schedule"] .hours .hour .event[data-type="0"] {
          background-color: #FA8072; }
        .vista[name="schedule"] .hours .hour .event[data-type="1"] {
          background-color: #C9B69D; }
        .vista[name="schedule"] .hours .hour .event[data-type="2"] {
          background-color: #5F9EA0;
          color: white; }
        .vista[name="schedule"] .hours .hour .event[data-type="3"] {
          background-color: rgba(95, 158, 160, 0.53); }
        .vista[name="schedule"] .hours .hour .event[data-type="4"] {
          background-color: #b9f5c7; }
        .vista[name="schedule"] .hours .hour .event[data-type="5"] {
          background-color: rgba(205, 92, 92, 0.78); }
        .vista[name="schedule"] .hours .hour .event[data-type="6"] {
          background-color: #222629;
          color: white; }
        .vista[name="schedule"] .hours .hour .event[data-type="7"] {
          background-color: #5FE880; }

/*# sourceMappingURL=schedule.css.map */
