<ion-view class="vista" name="about">
	<main>
		<div class="logo">
			<img src="img/logo.png">
			<span>Version: </span>
			<span app-version>0.7</span>
		</div>
		<p>Hola, mi nombre es Jorge, cree esta app para que los estudiantes pudieran acceder de una manera más comoda a su modulo estudiantil, este es un cliente no oficial para los servicios del modulo estudiantil, no esta relacionado de ninguna manera con la universidad del magdalena</p>
		<p>Los datos que ingresas van directamente al servidor de la universidad, a excepción de los datos de sesion que se guardan en tu telefono, así que no te preocupes :)</p>
		<p>Para reportar bugs o decir hola:</p>
		<a href="mailto:jorgetloza@gmail.com">jorgetloza@gmail.com</a>
	</main>
	
</ion-view>