<ion-view class="vista" name="enrollment" cache-view="false">
	<div id="semester">
		<span ng-if="semester.credits > 0" class="total">Total de creditos : {{semester.credits}}</span>
		<div ng-repeat="c in semester.courses"  ng-class="{course: true, crossing: c.crossing}" data-type="{{c.type}}" data-name="{{c.name}}" data-id="{{c.id}}" ng-click="openCourses('{{c.name}}')">
			<span class="name">{{c.name}}</span>
			<span class="credits">Creditos : {{c.credits}}</span>
			<span class="group"><span>Grupo : {{c.group}}</span></span>
			<span class="schedule">
				<span class="event {{e.icon}}" ng-repeat="e in c.events">{{e.info}}</span>
			</span>
			<a class="waves-effect waves-light remove" ng-click="openModalDelete($event)">
				<svg viewBox="0 0 24 24">
				    <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
				</svg>
			</a>
		</div>
		<a class="waves-effect waves-verde add {{semester.credits == 0 ? 'grande' : ''}}" ng-click="openCourses()">
			<span>Añadir materias</span>
			<svg viewBox="0 0 24 24">
			    <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
			</svg>
		</a>
	</div>
	<div id="modalCourses">
		<div ng-repeat="c in courses" class="groups-container desplegable" data-name="{{c.name}}" data-id="{{c.id}}" ng-click="toggle($event)">
			<header>
				<div class="animation">
					<div class="barra"></div>
				</div>
				<span>{{c.name}}</span>
			</header>
			<div class="groups hide">
				<div ng-repeat="g in c.groups" ng-class="{group: true, 'waves-effect': true, 'waves-gris': true, almost
: g.enrolled/g.max > 0.7, here: g.here, crossing: g.crossing}" ng-click="addToSemester('{{g.id}}', '{{c.name}}')" data-number="{{g.number}}" data-id="{{g.id}}">
					<div class="progress" style="width:{{g.enrolled/g.max*100}}%"></div>
					<span class="number">Grupo: #{{g.number}}{{g.sub_title ? ' • '+ g.sub_title : ''}}</span>
					<span class="teacher">Profesor: {{g.teacher ? g.teacher : 'Sin definir'}}</span>
					<span class="max">Cupos : {{g.max}}</span>
					<span class="enrolled">Matriculados : {{g.enrolled}}</span>
					<span class="schedule">
						<span class="event {{e.icon}}" ng-repeat="e in g.events">{{e.info}}</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<a id="save" class="btn-floating btn-large" ng-click="openModalSave()">
		<svg viewBox="0 0 24 24">
		    <path d="M15,9H5V5H15M12,19A3,3 0 0,1 9,16A3,3 0 0,1 12,13A3,3 0 0,1 15,16A3,3 0 0,1 12,19M17,3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V7L17,3Z" />
		</svg>
	</a>
</ion-view>