<ion-view class="vista" name="history">
	<div ng-repeat="s in semesters" class="courses-container desplegable" data-name="{{s.name}}">
		<header>
			<span>{{s.name}}</span>
			<span>{{s.average ? 'Promedio ' + s.average_simbol + ' ' + s.average : 'Aun faltan notas'}}</span>
		</header>
		<div class="courses">
			<div ng-repeat="course in s.courses" ng-class="{course: true, disapproved: !course.pending && !course.approved, pending: course.pending, approved: course.approved}">
				<span>{{course.name}}</span>
				<span ng-if="course.mode != 'Normal'" >Registro : {{course.mode}}</span>
				<span>Creditos : {{course.credits}}</span>
				<span>Nota : {{course.grade ? course.grade : '?'}}</span>
			</div>
		</div>
	</div>

	<div class="offline-notice">
		<div class="img"></div>
	</div>

</ion-view>