<ion-view class="vista" name="home" cache-view="false">
	<div ng-repeat="c in courses" ng-class="{course: true, disapproved: c.disapproved, 'last-child': $index == courses.length-1}" data-type="{{c.type}}">
		<span class="name">
			<div ng-if="c.img" class="img" ng-style="{'background-image': 'url(\'img/icons/{{c.img}}\')'}"></div>
			<span>{{c.name}}</span>
		</span>
		<div class="grades">
			<span class="s1">Primer seguimento : {{c.steps[0] ? c.steps[0] : '?'}}</span>
			<span ng-if="c.steps[1]" class="s2">Segundo seguimento : {{c.steps[1]}}</span>
			<span ng-if="c.steps[2]" class="s3">Tercer seguimento : {{c.steps[2]}}</span>
			<span ng-if="c.recovery" class="s4">Habilitacion : {{c.recovery}}</span>
			<span ng-if="c.total != '-'" class="total">Total : {{c.total}}</span>
		</div>
	</div>
	<div class="offline-notice">
		<div class="img"></div>
	</div>
	<div ng-class="{aviso: true, 'not-yet': true, show: not_yet}">
		<div class="img"></div>
	</div>
</ion-view>
