<ion-view class="vista" name="login" cache-view="false">
	<img src="img/logo.png">
	<form class="login" name="loginForm" novalidate >
		<div class="input-field">
			<input id="loginEmail" name="loginEmail" ng-class="{validate: true, invalid: loginForm.loginEmail.$error.required && loginForm.$submitted}" type="number" ng-model="data.code" required>
			<label for="loginEmail" data-error="Campo requerido" data-success="">Codigo</label>
	    </div>
	    <div class="input-field">
			<input id="loginPassword" name="loginPassword" ng-class="{validate: true, invalid: loginForm.loginPassword.$error.required && loginForm.$submitted}" type="password" ng-model="data.password" required>
			<label for="loginPassword" data-error="Campo requerido" data-success="">Contraseña</label>
	    </div>
	    <button id="login" on-tap="login($event)" class="button waves-effect waves-rojo btn">
	    	<div class="animation">
	    		<div></div>
	    	</div>
	    	<span>Iniciar sesion</span>
	    </button>
	</form>
</ion-view>