<ion-view class="vista" name="next-semester" cache-view="false">
	<span ng-if="semester.credits > 0" class="total">Total de creditos : {{semester.credits}}</span>
	<div ng-repeat="c in semester.courses" class="course" data-type="{{c.type}}" data-index="{{$index}}" data-name="{{c.name}}" on-hold="showMenu($event)">
		<span class="name">{{c.name}}</span>
		<span class="credits">Creditos : {{c.credits}}</span>
		<span ng-class="{hide : c.group == undefined, group : true}"><span>Grupo : </span><input type="number" name="group" focus-on="focusGroup{{$index}}" ng-model="c.group" placeholder="grupo" /></span>
		<span ng-class="{hide : c.teacher == undefined, teacher : true}"><span>Profesor : </span><input name="teacher" focus-on="focusTeacher{{$index}}" ng-model="c.teacher" placeholder="profesor" /></span>
		<div class="waves-effect waves-azul-claro"></div>
		<a class="waves-effect waves-light remove" ng-click="remove($event)">
			<svg viewBox="0 0 24 24">
			    <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
			</svg>
		</a>
	</div>
	<a class="waves-effect waves-verde add {{semester.credits == 0 ? 'grande' : ''}}" ng-click="goTo('plan')">
		<span>Añadir materias</span>
		<svg viewBox="0 0 24 24">
		    <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
		</svg>
	</a>
	<!-- Dropdown Trigger -->
	<a class='dropdown-button btn' data-activates='dropdown'></a>
	<ul id='dropdown' class='dropdown-content'>
		<li ng-click="addGroup()"><a>Añadir grupo</a></li>
		<li ng-click="addTeacher()"><a>Añadir profesor</a></li>
	</ul>
</ion-view>