<ion-view class="vista" name="plan" cache-view="false">
	<main>
		<div ng-repeat="c in container" class="{{container.separation}} courses-container desplegable" data-name="{{c.name}}">
			<header>
				<div ng-if="c.img" class="img" ng-style="{'background-image': 'url(\'img/icons/{{c.img}}\')'}"></div>
				<span>{{container.separation == 'semester' ? 'Semestre #' + c.name : c.name}}</span>
			</header>
			<div class="courses">
				<div ng-repeat="course in c.courses" ng-class="{course: true, studied: !course.pending && course.required, studying: course.studying}" on-hold="activeSelection($event)" ng-click="addToSelection($event)" data-name="{{course.name}}">
					<span>{{course.name}}</span>
					<span>Oblogatoria : {{course.required ? 'Si' : 'No'}}</span>
					<span>Creditos : {{course.credits}}</span>
					<div class="waves-effect waves-verde"></div>
				</div>
			</div>
		</div>
	</main>
	<div class="fixed-action-btn toolbar">
		<a id="floatingButton" class="btn-floating btn-large selection-active">
			<svg class="plus-icon" viewBox="0 0 24 24">
			    <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
			</svg>
			<svg class="check-icon" viewBox="0 0 24 24">
			   <path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
			</svg>
		</a>
		<!-- Tap Target Structure -->
		<div class="tap-target plan-notice" data-activates="floatingButton">
			<div class="tap-target-content">
				<h5>Seleccionar materias</h5>
				<p>Puedes hacer una simulacion de como va a quedar tu siguente semestre añadiendo materias.</p>
			</div>
		</div>
		<div class="clickleable selection-active" ng-click="actionClick($event)"></div>
		<ul>
			<li class="waves-effect waves-light cancelar" ng-click="cancelSelection($event)">
				<span>Cancelar</span>
				<svg viewBox="0 0 24 24">
				    <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
				</svg>
			</li>
			<li class="waves-effect waves-light anadir" ng-click="addToNext($event)">
				<span>Añadir a mi semestre</span>
				<svg viewBox="0 0 24 24">
				    <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
				</svg>
			</li>
		</ul>
	</div>
</ion-view>
