<ion-view class="vista" name="profile">
	<header>
		<div class="img-container">
			<div class="img" ng-attr-style="background-image: url({{user.img}})"></div>
		</div>
		<span class="porcent">{{info.porcent_human}}%</span>
        <div class="info">
            <span class="name">{{user.name}} : {{user.code}}</span>
        </div>
        <span class="remaining">Te quedan aproximadamente: {{info.remaining_human}} semestres</span>
	</header>
	<div class="info">
        <span class="average">Promedio ponderado: {{user.average}}</span> 
		<span>Programa: {{info.program}}</span>	
		<span>Plan: {{info.plan_number}}</span>	
		<span>Acuerdo: {{info.agreement}}</span>
		<span>Situacion: {{info.situation}}</span>
		<section id="courses" class="desplegable">
			<header>Materias</header>
			<div>
				<span>Pendientes: {{info.courses.pending}}</span>
				<span>Matriculadas: {{info.courses.registered}}</span>
				<span>Normales cursadas: {{info.courses.normal}}</span>
				<span>Perdidas: {{info.courses.disapproved}}</span>
				<span>Aprobadas: {{info.courses.approved}}</span>
				<span>Homologadas: {{info.courses.homologated}}</span>
				<span>Vacacionales: {{info.courses.vacation}}</span>
				<span>Val: {{info.courses.val}}</span>
				<span>Rec: {{info.courses.rec}}</span>
				<span>Cdi: {{info.courses.cdi}}</span>	
			</div>
		</section>
		<section id="credits" class="desplegable">
			<header>Creditos</header>
			<div>
				<span>Pendientes: {{info.credits.pending}}</span>
				<span>Matriculados: {{info.credits.registered}}</span>
				<span>Normales cursados: {{info.credits.normal}}</span>
				<span>Perdidos: {{info.credits.disapproved}}</span>
				<span>Aprobados: {{info.credits.approved}}</span>
				<span>Homologados: {{info.credits.homologated}}</span>
				<span>Vacacionales: {{info.credits.vacation}}</span>
				<span>Val: {{info.credits.val}}</span>
				<span>Rec: {{info.credits.rec}}</span>
				<span>Cdi: {{info.credits.cdi}}</span>
			</div>
		</section>
	</div>
	<div class="offline-notice">
		<div class="img"></div>
	</div>
</ion-view>