<ion-view class="vista" name="schedule">
	<ul class="tabs tabs-fixed-width">
		<li ng-if="d.events_number > 0" ng-repeat="d in days" name="{{d.name}}" ng-class="{tab : true, 'disabled': d.events_number == 0}">
			<a href="{{d.events_number > 0 ? '#' + d.name : ''}}">
				<span events-number="{{d.events_number}}">{{d.name}}</span>
				<svg ng-if="d.name == 'lunes' && d.events_number > 0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
				    <path d="M 25 1 C 11.756603 1 1 11.756603 1 25 C 1 38.243397 11.756603 49 25 49 C 38.243397 49 49 38.243397 49 25 C 49 11.756603 38.243397 1 25 1 z M 25 3 C 37.162603 3 47 12.837397 47 25 C 47 37.162603 37.162603 47 25 47 C 12.837397 47 3 37.162603 3 25 C 3 12.837397 12.837397 3 25 3 z M 17 19 C 15.343146 19 14 20.343146 14 22 C 14 23.656854 15.343146 25 17 25 C 18.656854 25 20 23.656854 20 22 C 20 20.343146 18.656854 19 17 19 z M 33 19 C 31.343146 19 30 20.343146 30 22 C 30 23.656854 31.343146 25 33 25 C 34.656854 25 36 23.656854 36 22 C 36 20.343146 34.656854 19 33 19 z M 25 30 C 18.555556 30 14.28125 34.28125 14.28125 34.28125 A 1.016466 1.016466 0 1 0 15.71875 35.71875 C 15.71875 35.71875 19.444444 32 25 32 C 30.555556 32 34.28125 35.71875 34.28125 35.71875 A 1.016466 1.016466 0 1 0 35.71875 34.28125 C 35.71875 34.28125 31.444444 30 25 30 z"></path>
				</svg>
			</a>
		</li>
	</ul>
    <div ng-repeat="d in days" id="{{d.name}}" name="{{d.name}}" ng-class="{hours: true, disabled: d.events_number == 0}">
    	<div ng-repeat="h in hours" class="hour" name="{{h}}">
    		<span class="h">{{h}}</span>
    	</div>
    </div>
    <div ng-class="{aviso: true, 'not-yet': true, show: not_yet}">
		<div class="img"></div>
	</div>
</ion-view>