@import '../../../scss/variables.scss';

.vista[name="schedule"]{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	.tab a{
		color: $negro;
		text-overflow: unset;
	}
	.tab:not(.disabled) span::after {
	    content: attr(events-number);
	    width: 6px;
	    height: 6px;
	    min-width: 6px;
    	min-height: 6px;
	    font-size: 10px;
	    background-color: rgba(95, 232, 128, 0.44);
	    position: relative;
	    top: -13px;
	    right: -3px;
	    padding: 0 4px;
	    border-radius: 50%;
	    color: black;
	}
	.tab:not(.disabled)[name="lunes"]{
		svg{
			width: 15px;
		    height: 15px;
		    transform: translateY(2px) translateX(-10px);
		}
		span::after{
			right: -28px;
		}
	}
	.tab.disabled {
		span{
			color: rgba(37, 37, 37, 0.58);
			text-decoration: line-through;
		}
	}
	.indicator{
		background-color: $azul;
	}
	.carousel{
		height: calc(100% - 56px) !important;
	}
	.hours {
		height: calc(100% - 48px);
		width: 100%;
		overflow-y: auto;
		.hour {
		    width: 100%;
		    height: 50px;
		    min-height: calc((100vh - 48px) / 17 - 1px);
		    border-bottom: 1px solid #eee;
		    overflow-y: visible;
		    position: relative;
	    	&:last-child{
	    		border-bottom-color: white;
	    	}
		    .h{
		    	display: inline-block;
		    	margin-left: 4px;
		    	margin-top: 4px;
		    	font-weight: 300;
		    	position: relative;
		    	z-index: 92;
		    }
		    .event{
		    	width: calc(100% - 30px);
		    	position: absolute;
		    	top: 0;
		    	left: 30px;
		    	z-index: 9;
		    	background-color: $naranja;
		    	span{
		    		font-weight: 300;
				    display: block;
				    margin-top: 5px;
				    margin-left: 5px;
				    text-transform: capitalize;
				    font-size: 12px;
				    &:last-child{
				    	margin-top: 0;
				    }
		    	}
		    	&[data-type="0"]{
		    		background-color: $naranja;
		    	}
		    	&[data-type="1"]{
		    		background-color: $beige;
		    	}
		    	&[data-type="2"]{
		    		background-color: $azul;
		    		color: white;
		    	}
		    	&[data-type="3"]{
		    		background-color: rgba(95, 158, 160, 0.53);
		    	}
		    	&[data-type="4"]{
		    		background-color: #b9f5c7;
		    	}
		    	&[data-type="5"]{
		    		background-color: rgba(205, 92, 92, 0.78);
		    	}
		    	&[data-type="6"]{
		    		background-color: $negro;
		    		color: white;
		    	}
		    	&[data-type="7"]{
		    		background-color: $verde;
		    	}
		    }
		}
	}
}