.vista[name="profile"] > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .vista[name="profile"] > header .img-container {
    width: 100px;
    min-width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px; }
    .vista[name="profile"] > header .img-container .img {
      width: 100%;
      height: 100%;
      background-position: 50% 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #e7feff;
      transform: scale(2); }
  .vista[name="profile"] > header .porcent {
    position: absolute;
    right: calc(50% - 60px);
    bottom: 43px;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #0c60ee;
    box-shadow: 0 0 14px #5d96f7; }
  .vista[name="profile"] > header .info {
    margin-top: 15px; }
    .vista[name="profile"] > header .info span {
      text-transform: capitalize;
      font-weight: 300; }
.vista[name="profile"] > .info {
  margin-top: 20px; }
  .vista[name="profile"] > .info span {
    display: block;
    font-weight: 300;
    margin: 6px 15px; }
.vista[name="profile"] section header {
  padding: 15px;
  text-transform: uppercase;
  font-weight: 200; }
  .vista[name="profile"] section header + div {
    transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: height, opacity;
    overflow: hidden;
    display: block !important; }
    .vista[name="profile"] section header + div.hide {
      height: 0 !important;
      opacity: 0; }

body.offline .vista[name="profile"], body.server-problems .vista[name="profile"] {
  overflow-y: hidden; }
  body.offline .vista[name="profile"] .offline-notice, body.server-problems .vista[name="profile"] .offline-notice {
    height: calc(100% - 150px);
    top: 150px; }
    body.offline .vista[name="profile"] .offline-notice .img, body.server-problems .vista[name="profile"] .offline-notice .img {
      width: 150px;
      height: 150px; }
  body.offline .vista[name="profile"] > .info, body.server-problems .vista[name="profile"] > .info {
    display: none; }

/*# sourceMappingURL=profile.css.map */
