.vista[name="login"] {
  height: 100%; }
  .vista[name="login"] img {
    width: 100px;
    height: 100px;
    transform: translateY(50px);
    margin-left: calc(50% - 50px); }
  .vista[name="login"] .button {
    background-color: #ea5c5c;
    color: white !important;
    transition: background 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow, background;
    box-shadow: 0 2px 2px 1px rgba(234, 92, 92, 0.46), 0 1px 5px 0 rgba(234, 92, 92, 0.12), 0 3px 1px -2px rgba(234, 92, 92, 0.2) !important; }
    .vista[name="login"] .button:hover, .vista[name="login"] .button:active {
      box-shadow: 0 3px 14px 7px rgba(234, 92, 92, 0.14), 0 1px 7px 0 rgba(234, 92, 92, 0.12), 0 3px 1px -1px rgba(234, 92, 92, 0.2) !important; }
    .vista[name="login"] .button .animation {
      position: absolute;
      width: 100%;
      height: 30px;
      overflow: hidden;
      border-radius: 4px;
      opacity: 0;
      transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      will-change: opacity;
      top: 9px;
      left: 0; }
      .vista[name="login"] .button .animation div {
        background-color: rgba(248, 197, 197, 0.32);
        height: 100%;
        width: 100%;
        will-change: transform;
        animation: a-bar 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
        border-radius: 4px; }
    .vista[name="login"] .button.loading {
      color: black !important;
      background-color: transparent;
      box-shadow: none !important; }
      .vista[name="login"] .button.loading .animation {
        opacity: 1; }

@keyframes a-bar {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(110%); } }

/*# sourceMappingURL=login.css.map */
