.vista[name="enrollment"] {
  overflow-y: hidden; }
  .vista[name="enrollment"] .event {
    display: inline-block;
    padding: 1px 6px;
    border-radius: 2px;
    margin-right: 4px;
    font-size: 12px;
    height: 22px;
    overflow-y: hidden;
    background-color: rgba(201, 182, 157, 0.19);
    text-transform: capitalize; }
    .vista[name="enrollment"] .event.night, .vista[name="enrollment"] .event.morning {
      background-color: #222629;
      color: white; }
      .vista[name="enrollment"] .event.night::after, .vista[name="enrollment"] .event.morning::after {
        content: '';
        display: inline-block;
        margin-bottom: -8px;
        transform: translateY(-1px) translateX(3px);
        width: 22px;
        height: 22px;
        background-image: url(../../../img/moon.svg); }
      .vista[name="enrollment"] .event.night.morning, .vista[name="enrollment"] .event.morning.morning {
        background-color: rgba(201, 182, 157, 0.19);
        color: black; }
        .vista[name="enrollment"] .event.night.morning::after, .vista[name="enrollment"] .event.morning.morning::after {
          transform: translateY(-6px) translateX(6px);
          width: 20px;
          height: 13px;
          background-image: url(../../../img/sleep.svg);
          background-repeat: no-repeat;
          background-size: contain; }
  .vista[name="enrollment"] .total {
    display: block;
    margin: 15px;
    font-weight: 300; }
  .vista[name="enrollment"] #semester {
    height: 100%;
    overflow-y: auto; }
  .vista[name="enrollment"] #semester .course {
    box-shadow: 0 0 8px 0px #f5f5f5;
    background-color: #f5f5f5;
    position: relative;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
    .vista[name="enrollment"] #semester .course > span {
      display: flex;
      align-items: center;
      overflow: hidden;
      height: 20px;
      transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
      .vista[name="enrollment"] #semester .course > span input {
        background-color: transparent;
        border: none !important;
        height: 100%;
        margin: 0;
        margin-left: 6px;
        margin-top: -2px;
        width: 40px;
        box-shadow: none !important;
        position: relative; }
        .vista[name="enrollment"] #semester .course > span input:not([disabled]) {
          z-index: 9; }
        .vista[name="enrollment"] #semester .course > span input[name="teacher"] {
          width: 100%; }
      .vista[name="enrollment"] #semester .course > span.hide {
        height: 0;
        opacity: 0; }
    .vista[name="enrollment"] #semester .course .name {
      text-transform: capitalize; }
    .vista[name="enrollment"] #semester .course .remove {
      width: 80px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      left: initial;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
      .vista[name="enrollment"] #semester .course .remove svg {
        width: 30px;
        height: 30px;
        stroke: #f5f5f5;
        transition: fill 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
      .vista[name="enrollment"] #semester .course .remove.activated svg {
        fill: #ea5c5c;
        stroke: white; }
      .vista[name="enrollment"] #semester .course .remove .waves-ripple {
        background-color: white !important; }
    .vista[name="enrollment"] #semester .course[data-type="1"] {
      background-color: rgba(245, 245, 245, 0.8); }
    .vista[name="enrollment"] #semester .course[data-type="2"] {
      background-color: rgba(245, 245, 245, 0.6); }
    .vista[name="enrollment"] #semester .course[data-type="3"] {
      background-color: rgba(245, 245, 245, 0.4);
      box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.4); }
    .vista[name="enrollment"] #semester .course[data-type="4"] {
      background-color: rgba(245, 245, 245, 0.2);
      box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.2); }
    .vista[name="enrollment"] #semester .course[data-type="5"] {
      background-color: rgba(245, 245, 245, 0.15);
      box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.15); }
    .vista[name="enrollment"] #semester .course[data-type="6"] {
      background-color: rgba(245, 245, 245, 0.1);
      box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.1); }
    .vista[name="enrollment"] #semester .course[data-type="7"] {
      background-color: rgba(245, 245, 245, 0.05);
      box-shadow: 0 0 8px 0px rgba(245, 245, 245, 0.05); }
    .vista[name="enrollment"] #semester .course.removed {
      transform: translateX(-100%);
      opacity: 0;
      height: 0 !important;
      padding: 0;
      margin: 0; }
    .vista[name="enrollment"] #semester .course.crossing {
      background-color: #ffd68f; }
      .vista[name="enrollment"] #semester .course.crossing .event:not(.night) {
        background-color: white; }
      .vista[name="enrollment"] #semester .course.crossing .remove svg {
        stroke: #ffd68f; }
      .vista[name="enrollment"] #semester .course.crossing .remove.activated svg {
        stroke: white; }
  .vista[name="enrollment"] .add {
    display: flex;
    margin: 15px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    height: 60px;
    transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
    .vista[name="enrollment"] .add span {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 300;
      color: #222629; }
    .vista[name="enrollment"] .add svg {
      width: 40px;
      height: 40px;
      fill: #5FE880;
      stroke: white;
      margin-left: 10px; }
    .vista[name="enrollment"] .add.grande {
      height: calc(100% - 30px); }
  .vista[name="enrollment"] #save {
    position: fixed;
    bottom: -50px;
    right: 15px;
    transform: scale(0.8);
    opacity: 0;
    background-color: #387ef5; }
    .vista[name="enrollment"] #save svg {
      width: 30px;
      height: 100%;
      fill: white; }
    .vista[name="enrollment"] #save.show {
      bottom: 15px;
      opacity: 1;
      transform: scale(1); }
  .vista[name="enrollment"] #modalCourses {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
    transform: scale(0.9);
    z-index: 99;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
    .vista[name="enrollment"] #modalCourses .groups-container {
      position: relative; }
      .vista[name="enrollment"] #modalCourses .groups-container header {
        margin-top: 0;
        display: flex;
        align-items: center; }
        .vista[name="enrollment"] #modalCourses .groups-container header .animation {
          position: absolute;
          right: -15px;
          width: 30px;
          height: 5px;
          opacity: 0;
          /*width: 80px;
          opacity: 0;
          height: 20px;
          background-image: url(../../../img/loading.gif);
          background-position: center;
          background-size: 170px;*/
          transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), right 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
          .vista[name="enrollment"] #modalCourses .groups-container header .animation .barra {
            width: 30px;
            height: 5px;
            border-radius: 5px;
            background-color: rgba(95, 158, 160, 0.51);
            animation: a-barra 2s cubic-bezier(0.4, 0, 0.2, 1) infinite; }
        .vista[name="enrollment"] #modalCourses .groups-container header span {
          font-weight: 500;
          max-width: calc(100% - 18px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      .vista[name="enrollment"] #modalCourses .groups-container.loading .animation {
        right: 25px;
        opacity: 1; }
      .vista[name="enrollment"] #modalCourses .groups-container.loading header::after {
        opacity: 0; }
      .vista[name="enrollment"] #modalCourses .groups-container header::after {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        right: 15px;
        top: 20px;
        border-radius: 100%;
        transition: background 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
      .vista[name="enrollment"] #modalCourses .groups-container.full header::after, .vista[name="enrollment"] #modalCourses .groups-container.empty header::after {
        background-color: #FA8072; }
      .vista[name="enrollment"] #modalCourses .groups-container.full .groups::after, .vista[name="enrollment"] #modalCourses .groups-container.empty .groups::after {
        content: 'No hay grupos, todos estan llenos.';
        display: block;
        text-align: center;
        font-weight: 300;
        margin-bottom: 10px; }
      .vista[name="enrollment"] #modalCourses .groups-container.full.empty header::after, .vista[name="enrollment"] #modalCourses .groups-container.empty.empty header::after {
        background-color: #5F9EA0; }
      .vista[name="enrollment"] #modalCourses .groups-container.full.empty .groups::after, .vista[name="enrollment"] #modalCourses .groups-container.empty.empty .groups::after {
        content: 'No hay grupos, puede que los abran despues.'; }
      .vista[name="enrollment"] #modalCourses .groups-container.full .groups:not(.hide), .vista[name="enrollment"] #modalCourses .groups-container.empty .groups:not(.hide) {
        height: 30px !important; }
      .vista[name="enrollment"] #modalCourses .groups-container .groups {
        padding: 0 15px; }
        .vista[name="enrollment"] #modalCourses .groups-container .groups .group, .vista[name="enrollment"] #modalCourses .groups-container .groups span:not(.event) {
          display: block; }
        .vista[name="enrollment"] #modalCourses .groups-container .groups .group {
          margin-bottom: 15px;
          font-weight: 300;
          border-radius: 4px;
          padding: 0 5px;
          padding-bottom: 5px; }
          .vista[name="enrollment"] #modalCourses .groups-container .groups .group .progress {
            position: absolute;
            width: 0%;
            height: 4px;
            bottom: 7px;
            margin: 0;
            background-color: #acece6;
            border-radius: 0;
            transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
          .vista[name="enrollment"] #modalCourses .groups-container .groups .group.almost .progress {
            background-color: #FA8072; }
          .vista[name="enrollment"] #modalCourses .groups-container .groups .group.here .number::after {
            content: 'Estas aqui';
            margin-left: 6px;
            font-weight: 500;
            font-size: 12px;
            display: inline-block; }
          .vista[name="enrollment"] #modalCourses .groups-container .groups .group.crossing .number::after {
            content: 'Se te cruza';
            margin-left: 6px;
            font-weight: 500;
            font-size: 12px;
            display: inline-block; }
        .vista[name="enrollment"] #modalCourses .groups-container .groups.show-height {
          position: absolute;
          height: auto !important; }
        .vista[name="enrollment"] #modalCourses .groups-container .groups .teacher {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }

#closeModalCourses {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  width: 56px;
  height: 56px;
  padding: 15px;
  z-index: 999;
  transition: right 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
  #closeModalCourses .icon {
    width: 100%;
    height: 100%;
    fill: rgba(228, 33, 18, 0.65); }
  #closeModalCourses.ocultar {
    right: -80px;
    opacity: 0; }

@keyframes a-barra {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  50% {
    opacity: 1;
    transform: translateX(10%); }
  100% {
    opacity: 0;
    transform: translateX(110%); } }

/*# sourceMappingURL=enrollment.css.map */
